<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KIDING"
        tools:targetApi="31">
        <activity
            android:name=".KikisdayRedComplete3Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayPinkCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayPurpleCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".Kikisday20Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday19Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday18Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday17Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday16Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRandomDice4Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRedComplete2Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayYellowCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayOrangeComplete2Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday15Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday14Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday13Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday12Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday11Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRandomDice3Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRedCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdaySkyblueCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayOrangeCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayBlueCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayGreenCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRandomDice2Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday10Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday9Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday8Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday7Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday6Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday5Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday4Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday3Activity"
            android:exported="false" />
        <activity
            android:name=".Kikisday2Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayRandomDiceActivity"
            android:exported="false" />
        <activity
            android:name=".SpaceDiceActivity"
            android:exported="false" />
        <activity
            android:name=".SpaceTutorial2Activity"
            android:exported="false" />
        <activity
            android:name=".SpaceTutorial1Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdaySongActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayDiceActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayTutorial2Activity"
            android:exported="false" />
        <activity
            android:name=".KikisdayTutorial1Activity"
            android:exported="false" />
        <activity
            android:name=".DiceActivity"
            android:exported="false" />
        <activity
            android:name=".SpacePlayActivity"
            android:exported="false" />
        <activity
            android:name=".KikisdayPlayActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSplashActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>